<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="styles/addGame.css">
    </head>
    <section class="jumbotron">
        <div class="container">
            <div class="row text-center">
                <h2>Add Game Page!</h2>
                <h3>WOOOOOO</h3>
            </div>
        </div>
    </section>

    <form name="addGamesForm" ng-submit="addGame()">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" name="title" ng-model="formData.title">
        </div>
        <div class="form-group">
            <label for="publisher">Publisher:</label>
            <input type="text" class="form-control" id="publisher" ng-model="formData.publisher">
        </div>
        <div class="form-group">
            <label for="genre">Genre:</label>
            <input type="text" class="form-control" id="genre" ng-model="formData.genre">
        </div>
        <div class="form-group">
            <label for="year">Year:</label>
            <input type="text" class="form-control" id="year" ng-model="formData.year">
        </div>
        <div class="form-group">
            <label for="rating">Rating:</label>
            <input type="text" class="form-control" id="rating" ng-model="formData.rating">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</html>
