<!DOCTYPE HTML>
<html>
    <section class="jumbotron">
        <div class="container">
            <div class="row text-center">
                <h2>Playstation 4</h2>
                <h3>This Year's Best</h3>
                <a class="btn btn-primary" href="rankedLists" role="button">See List</a>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <figure class="col-sm-6">
                <h3 class="genreImg">Role Playing</h3>
                <img src="../images/skyrim_live_action.jpg" class="img-responsive img-rounded"/>
            </figure>
            <figure class="col-sm-6">
                <h3 class="genreImg">First Person Shooter</h3>
                <img src="../images/FPS.jpg" class="img-responsive img-rounded">
            </figure>
            <figure class="col-sm-6">
                <h3 class="genreImg">Sports</h3>
                <img src="../images/NBA2k.jpg" class="img-responsive img-rounded"/>
            </figure>
            <figure class="col-sm-6">
                <h3 class="genreImg">Adventure</h3>
                <img src="../images/uncharted.jpg" class="img-responsive img-rounded"/>
            </figure>
        </div>
    </section>
</html>
